.App {
  font-family: sans-serif;
  text-align: left;
}
table {
  table-layout: fixed;
  background-color: #ffffff;
  border-collapse: collapse;
  border: 1px solid #b9b9b9;
  text-align: left;
}

th {
  background-color: #e5e5e5;
  padding: 5px;
  border: 1px solid #b9b9b9;
}
tr {
  width: 100px;
  height: 34.01px;
}
.overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}
.overflow:hover {
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
  height: auto;
}

}
td {
  padding: 5px;
  border: 1px solid #b9b9b9;
}

tr:nth-child(even) {
  background-color: #f3f9ff;
}
tr:hover {
  background-color: #c8c3d2;
}
